-----------------------------------------------------------
Date:          $date
Release Notes: $releaseTitle
Release:       [$release]
$component VERSION:   $version
$headerLastLine
-----------------------------------------------------------
SCHEMA CHANGES:
    None
    CODE CHANGES WITH IN THIS RELEASE:
    Refer To The Category $release
    
TR FIXES INFORMATION:  
$fixedTRs

TR CANCEL INFORMATION:
$cancelledTRs
   
KNOWN ISSUES:
    $knownIssues

PATCHES FOR THE KNOWN ISSUES:
    $patches
  
COMPATIBLE SOFTWARE VERSIONS:
    $compatibleSoftware
   
Compatible Components:
    $dependencyVersions

FTP ADDRESS:
    $ftpURL

IMPORTANT NOTES:
    $notes